@media screen and (max-width: 1100px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .header-title {
    font-size: 40px;
  }

  .nav-links {
    margin-top: 10px;
  }

  .blog-card {
    width: 800px;
    height: 750px;
  }

  .blog-card-title {
    font-size: 48px;
  }

  .blog-card-subheader {
    font-size: 36px;
  }

  .blog-card-image-wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  .pokemon-sprite {
    height: 400px;
    width: 400px;
  }

  .dbz,
  .overcooked {
    height: 400px;
    width: 700px;
  }

  .read-more-button {
    font-size: 45px;
  }

  .about-me-name,
  .blog-post-heading {
    font-size: 80px;
    margin-bottom: 0;
  }

  .about-me-body,
  .blog-post-body {
    margin: 0 50px 0 50px;
    font-size: 48px;
  }

  .social-media-icon {
    margin: 20px;
    width: 80px;
    height: 80px;
  }

  #child-grid-container {
    grid-template-columns: 300px 300px;
    grid-template-rows: 150px 150px 150px;
  }

  footer {
    height: 45px;
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {
  .header-title {
    font-size: 34px;
  }

  nav {
    font-size: 24px;
  }

  .blog-card {
    width: 600px;
    height: 500px;
  }

  .blog-card-title {
    font-size: 36px;
  }

  .blog-card-subheader {
    margin: 0;
    font-size: 30px;
  }

  .pokemon-sprite {
    height: 300px;
    width: 300px;
  }

  .dbz,
  .overcooked {
    height: 300px;
    width: 500px;
  }

  .read-more-button {
    font-size: 30px;
  }

  .about-me-name,
  .blog-post-heading {
    font-size: 60px;
    margin-bottom: 0;
  }

  .about-me-body,
  .blog-post-body {
    margin: 0 35px 0 35px;
    font-size: 36px;
  }

  .social-media-icon {
    margin: 15px;
    width: 60px;
    height: 60px;
  }

  #child-grid-container {
    grid-template-columns: 225px 225px;
    grid-template-rows: 125px 125px 125px;
  }

  footer {
    height: 35px;
    font-size: 24px;
  }
}

@media screen and (max-width: 400px) {
  main {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .header-title {
    font-size: 24px;
  }

  nav {
    display: flex;
    justify-content: center;
    font-size: 16px;
  }

  .nav-links {
    margin-top: 10px;
  }

  .blog-card {
    width: 325px;
    height: 325px;
  }

  .blog-card-image-wrapper {
    justify-content: space-evenly;
  }

  .pokemon-sprite {
    height: 100px;
    width: 100px;
  }

  .dbz,
  .overcooked {
    height: 100px;
    width: 300px;
  }

  .read-more-button-container {
    font-size: 18px;
  }

  .blog-post-heading {
    font-size: 24px;
    margin-bottom: 0;
  }

  .about-me-name {
    font-size: 30px;
    margin-bottom: 0;
  }

  .about-me-body,
  .blog-post-body {
    margin: 0 20px 0 20px;
    font-size: 24px;
  }

  .social-media-icon {
    margin: 5px;
    width: 40px;
    height: 40px;
  }

  .read-more-button {
    font-size: 15px;
  }

  #child-grid-container {
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px 100px;
  }
}
