.blog-card {
  display: flex;
  flex-direction: column;
  background-color: lightcoral;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 600px;
  height: 500px;
  border-radius: 25px;
}

.blog-card-title {
  margin: 0;
  text-align: center;
}

.blog-card-image-wrapper {
  display: flex;
  flex-direction: row;
}

.read-more-link {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 15px;
}

.pokemon-sprite {
  height: 300px;
  width: 300px;
}
