@import "./index.css";

@font-face {
  font-family: pokemonFont;
  src: url(./fonts/POKEMONGB-RAEO.TTF);
}

header {
  display: flex;
  font-family: pokemonFont;
  font-size: 32px;
  justify-content: center;
  background-color: red;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: lightblue;
}

main {
  flex: 1;
  overflow-y: scroll;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: gray;
  display: flex;
  align-items: center;
  height: 25px;
  flex-shrink: 0;
}
