@media screen and (max-width: 400px) {
  main {
    display: flex;
    justify-content: center;
  }

  .blog-card {
    width: 350px;
    height: 350px;
  }

  .blog-card-image-wrapper {
    background-color: black;
    display: flex;
    justify-content: center;
  }

  .pokemon-sprite {
    height: 100px;
    width: 100px;
  }
}
